:root {
  --inter: "Inter";
  --IBM: "IBM Plex Sans Devanagari";
  --open-sans: "Open Sans";
  --primary-color: #000e01;
  --secondary-color: #79ac78;
  --white-color: #ffffff;
  --third-color: #618264;
  --text-color: #443434;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/*? -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* !section martinez zogo */

.actualite {
  width: 100%;
  height: 70rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  /* background-color: red;  */
}

.actualite > h1 {
  font-family: var(--IBM);
  color: var(--primary-color);
  font-size: 4.3rem;
  font-weight: 600;
}

.actualite-martinezzogo {
  width: 80%;
  height: 62rem;
  /* background-color: blue; */
}

.actualite-martinezzogo > iframe {
  display: block;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}